@page "/Checkout"
@using OmegaGamesAPI.Services
@using Common.DTO
@inject CustomerService customerService
@rendermode InteractiveServer


<div class="shopping-cart-image">
</div>

<section class="h-100 h-custom shoppingcart-opacity pt-5">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Kundvagn</h1>
                                    </div>
                                    <hr class="my-4">
                                    @if (message != null)
                                    {
                                        <h2>@message</h2>
                                    }
                                    else
                                    {
                                        @foreach (var product in Products.DistinctBy(p => p.Id))
                                        {
                                            <div class="row mb-4 d-flex justify-content-between align-items-center product-in-cart">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="@product.Image"
                                                         class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="text-muted">@product.ProductName</h6>
                                                    <h6 class="text-black mb-0">@product.Category</h6>
                                                </div>

                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h6 class="mb-0">@product.Price kr</h6>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                                </div>
                                            </div>
                                        }
                                    }
                                    <hr class="my-4">
                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a href="/ProductPage" class="text-body">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i>Fortsätt handla
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Lägg till leveransdetaljer</h3>
                                    <EditForm Model="newCustomer" OnValidSubmit="AddCustomer">
                                        <DataAnnotationsValidator/>
                                        <label for="FirstName">Förnamn:</label>
                                        <InputText id="FirstName" @bind-Value="newCustomer.FirstName" class="form-control"/>
                                        <ValidationMessage For="@(() => newCustomer.FirstName)"/>

                                        <label for="LastName">Efternamn:</label>
                                        <InputText id="LastName" @bind-Value="newCustomer.LastName" class="form-control"/>
                                        <ValidationMessage For="@(() => newCustomer.LastName)"/>

                                        <label for="Address">Address:</label>
                                        <InputText id="Address" @bind-Value="newCustomer.Address" class="form-control"/>
                                        <ValidationMessage For="@(() => newCustomer.Address)"/>

                                        <label for="ZipCode">Postnummer:</label>
                                        <InputText id="ZipCode" @bind-Value="newCustomer.ZipCode" class="form-control"/>
                                        <ValidationMessage For="@(() => newCustomer.ZipCode)"/>

                                        <label for="City">Stad:</label>
                                        <InputText id="City" @bind-Value="newCustomer.City" class="form-control"/>
                                        <ValidationMessage For="@(() => newCustomer.City)"/>

                                        <label for="Country">Land:</label>
                                        <InputText id="Country" @bind-Value="newCustomer.Country" class="form-control"/>
                                        <ValidationMessage For="@(() => newCustomer.Country)"/>

                                        <label for="Email">Email:</label>
                                        <InputText id="Email" @bind-Value="newCustomer.Email" class="form-control"/>
                                        <ValidationMessage For="@(() => newCustomer.Email)"/>

                                        <label for="Phone">Telefonnummer:</label>
                                        <InputText id="Phone" @bind-Value="newCustomer.Phone" class="form-control"/>
                                        <ValidationMessage For="@(() => newCustomer.Phone)"/>
                                        <button type="submit" class="btn btn-primary mt-4">Slutför köp</button>
                                    </EditForm>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private List<ProductDTO> Products { get; set; } = new();
    private CustomerDTO? newCustomer { get; set; }
    private string? message;
    private decimal price;

    protected override void OnInitialized()
    {
        newCustomer = customerService.Customer;
        Products = customerService.Customer.Cart;
    }

    private void AddCustomer()
    {
        customerService.Customer = newCustomer;
        message = "Tack för ditt köp!";
        customerService.Customer.Cart.Clear();
    }
}