@using OmegaGamesAPI.Services
@using Common.DTO
@using Microsoft.AspNetCore.Identity.Data
@using OmegaGamesClient.Components.Layout
@rendermode InteractiveServer
@inject CustomerService customerService

<div class="card shadow-sm col-md-3 mb-4 col-sm-6 m-2 product-card">
    <img class="card-img-top" src="@Product.Image" alt="@Product.ProductName">
    <div class="card-body">
        <h4 class="card-title">@Product.ProductName</h4>
        <span class="card-subtitle">@Product.Description</span>
        <div class="card-text">@Product.Price kr</div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary add-to-cart-button" @onclick="() => AddToCart()" >Köp nu</button>
    </div>
</div>

@code {

    [Parameter] public ProductDTO Product { get; set; }

    public string Image { get; set; }

    private async Task AddToCart()
    {
        await customerService.AddToCart(Product);
    }

    protected override void OnInitialized()
    {
        Image = Product.Image;
        base.OnInitialized();
    }
}